html, body {
    margin:0px;
    padding:0px;

}


.container {
    background-color:slategrey;
    color:floralwhite;
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:24px;

}

li {
    display:inline-block;
    margin-left: 16px;
    margin-right: 24px;
}

a {
    text-decoration: none;
    color:floralwhite;
}

.floof {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 200px;
    margin-left: 100px;
    text-align: center;

}

button {
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    padding:4px;
    background-color: aliceblue;

}

h2 {
    font-weight: 1000;
    font-size: 35px;
}

img {
    border-radius: 4px;
    border: 4px;
    border-color: aliceblue;
    border-style: solid;
    margin: 8px;
}

.floof img {
    margin-left: 50px;
}

#button1 {
    display: flex;
    margin-left: 300px;
    color:aliceblue;
    text-align: center;
    justify-content: center; 
    background-color: #BFD1DF;
    border-style: solid;
    border-color: aliceblue;
    font-weight: bold;
}

.container2 {
    display: flex;
    justify-content: space-around;
    margin-left: 350px;
    margin-right: 350px;

  
}

.header3 {
    display: flex;
    justify-content: center;
    color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top:32px;
    margin-bottom:32px;
}

p {
    text-align: center;
    margin-top: 8px;
    color:slategrey;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.box1 img {
    border-style: solid;
    border-color: slategrey;
    display: block;
    margin: 0 auto;

}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
    width:100%;
    height:300px;
}

.quote {
    display:flex;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width:30%;
    text-align: justify;
    font-size: 22px;
}

.quote2 {
    display:flex;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 300px;
    font-weight: bold;

}

.container4 {
    display: flex;
    justify-content: center;
    align-content: center;
    height:300px;

}

.box2 {
    border-radius: 8px;
    border-style: solid; 4px;
    border-color: slategrey;
    background-color: #BFD1DF;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

.box {
    color: slategrey;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    padding:16px;
    margin-bottom: 15px;

}

#button2 {
    display: flex;
    justify-content: center; 
    background-color: slategrey;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    F
    text-align: center;
    border-color: aliceblue;
    font-weight: bold;
    border-style: solid;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    height:30px;
    background-color: #BFD1DF;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: slategrey;
}